// Colors
//==============================================================================
$body-text: #444;
$body-background: rgb(246, 245, 237);
$link: #5f6660;
$code-background: rgb(248, 248, 248);
$code-border: #ddd;
$dark-background: #555;
$dark-hover: rgb(198,129,68);
$light-text: white;

// General styles
//==============================================================================
* { margin: 0; padding: 0; }

body {
  color: $body-text;
  background-color: $body-background;
  font-size: .875em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, p, ul, ol, .meta, iframe, object, hr, 
.fluid-width-video-wrapper,
.highlight,
.highlighttable {
  margin-bottom: 20px;
}

ul, ol {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: $link;
  
  &:hover {
    color: darken($link, 5%);
  }
}

img { 
  max-width: 100%;
  height: auto;
  border: none; 
}

code {
  background-color: $code-background;
  border: 1px solid $code-border;
  padding: 0 5px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  
  td {
    word-wrap: break-word;
  }
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; 
}

.clearfix:after {
  clear: both; 
}

.wraper {
  max-width: 700px;
  margin: 0 auto;
}

blockquote {
  margin: 1em;
  padding: 1em;
  border-left: 4px solid $dark-background;
}

::-moz-selection,
::selection {
  color: $light-text;
  background: $dark-hover; 
}

.center, .aligncenter {
  text-align: center; 
}

.left, .alignleft {
  float: left;
  margin: 15px 15px 15px 0; 
}

.right, .alignright {
  float: right;
  margin: 15px 0 15px 15px; 
}

pre, 
.highlight {
  overflow: auto;
}

.highlighttable {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;

  td {
    vertical-align: top;
    overflow: auto;
  }
}

.linenos {
  text-align: center;
  width: 5%;
}

// Header
//==============================================================================
header.top {
  margin-top: 20px;
  margin-bottom: 40px;
  
  h1 { display: inline-block; }
}

.socio {
  float: right;
  margin-top: 10px;
  
  a {
    display: inline-block;
    margin-left: 10px;
  }
}

nav.top {
  background-color: $dark-background;
  
  a {
    color: $light-text;
    display: block;
    float: left;
    padding: 5px 10px;
    
    &:hover {
      background-color: $dark-hover;
    }
  }
}

.current-page {
  background-color: $dark-hover;
}

// Main content
//==============================================================================
article {
  margin-bottom: 60px;
  
  p {
    a {
      text-decoration: underline;
    }
    
    &.read-more {
      text-align: center;
      
      a {
        text-decoration: none;
        color: $light-text;
        display: inline-block;
        background-color: $dark-background;
        padding: 0 5px;
        border-radius: 10px;
        
        &:hover {
          background-color: lighten($dark-background, 10%);
        }
      }
    }
  }
  
  h2 {
    margin-bottom: 10px;
  }
}

.meta {
  font-size: .9em;
}

.date, 
.author,
.category {
  display: inline-block;
  margin-right: 10px;
}

.date-icon, 
.author-icon,
.category-icon{
  background-image: url(/img/glyphicons-halflings.png);
  display: inline-block;
  margin-right: 5px;
  height: 15px;
}

.date-icon {
  background-position: -190px -118px;
  width: 15px;
}

.author-icon {
  background-position: -165px 2px;
  width: 20px;
}

.category-icon {
  background-position: -405px -118px;
  width: 20px;
}

// Footer
//==============================================================================
.pagination {
  background-color: $dark-background;
  color: $dark-hover;
  padding: 5px 10px;
  
  a {
    color: $light-text;
  }
}

footer {
  padding: 5px 0 30px 0;
  text-align: center;
  font-size: .9em;
  
  p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  .wraper {
    padding: 20px;
  }
}

@media screen and (max-width: 352px) {
  header.top {
    h1 { 
      display: block; 
      text-align: center;
    }
  }
  
  .socio {
    float: none;
    text-align: center;
    margin-bottom: 10px;
    
    a {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}