// Variables
$site-background-color: #f5f5f5;
$contrast-color: #333;
$accent-color: #0971B2;

/* ====== General Styles
============================================================================= */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: $site-background-color;
  border-top: 5px solid $contrast-color;
  font-family: 'Source Sans Pro', sans-serif;
  color: $contrast-color;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul, ol,
.fluid-width-video-wrapper,
.highlight,
blockquote,
img,
hr,
.year-bundle {
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 40px;
}

blockquote {
  padding: 10px 40px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  font-style: italic;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: darken($accent-color, 25%);
  }
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .8rem;
}

hr {
  border : 0;
  height: 25px;
  background : url(/public/images/flower.png) center center no-repeat;
}

.highlight code {
  font-size: .7rem;
}

p code {
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
}

.container {
  max-width: 750px;
  padding: 0 20px;
}

.right {
  float: right;
  margin: 0 0 20px 20px;
}

.left {
  float: left;
  margin: 0 20px 20px 0;
}

/* ====== Header
============================================================================= */
#logo-container { text-align: center; }

#actual-logo {
  display: inline-block;
  height: 110px;
  width: 110px;
  background: url(/public/images/logo.png) left center no-repeat;
  background-size: 90px 90px;
}

.top {
  margin-bottom: 40px;
  height: 110px;

  nav {
    height: 110px;

    a {
      color: $contrast-color;
      display: inline-block;
      padding: 66px 20px 25px;
      margin-right: 10px;
      margin-top: -5px;
      text-transform: uppercase;
      border-radius: 0 0 5px 5px;
      border-bottom: 1px solid lighten($contrast-color, 10%);

      &:hover,
      &.current-page {
        color: $site-background-color;
        border-bottom: none;
      }

      &:hover {
        background-color: lighten($contrast-color, 10%);
      }

      &.current-page {
        background-color: $contrast-color;
      }
    }
  }
}

/* ====== Main Content
============================================================================= */
.post-archive,
.single-post {
  margin-bottom: 100px;
}

.single-post .published {
  color: #999;
  font-size: .9rem;
}

.listing {
  margin-bottom: 5px;
}

.meta {
  font-size: .8rem;
  text-align: right;
  padding-top: 3px;
}

.year-bundle {
  border-top: 1px solid lighten($contrast-color, 50%);
  padding-top: 10px;
}

.archive-date {
  text-align: right;
}

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 2rem;
}

.not-found h1 {
  font-size: 8rem;
}

/* ====== Footer
============================================================================= */
.pagination {
  text-align: right;
  margin-bottom: 30px;
}

.previous,
.next {
  font-size: 1.5rem;
}

footer {
  font-size: .8rem;
  text-align: center;
}

/* ====== Responsive Shit
============================================================================= */
@media ( max-width : 768px ) {
  #logo,
  .post-archive,
  .archive-date,
  .meta,
  .pagination {
    text-align: center;
  }

  .archive-entry {
    margin-bottom: 20px;
  }

  #actual-logo {
    background-position: center center;
  }

  .top {
    height: auto;
    margin-bottom: 30px;

    nav {
      margin-top: 30px;
      height: auto;
      text-align: center;
      background-color: $contrast-color;

      a {
        color: $site-background-color;
        padding: 10px 20px;
        margin-top: 0;
        margin-right: 0;
        border: none;
        border-radius: 0;

        &.current-page {
          background-color: $site-background-color;
          color: $contrast-color;
        }
      }
    }
  }

  article {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 570px) {
  .top nav a {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 480px) {
  .top nav a {
    font-size: .9rem;
  }
}

@media screen and (max-width: 396px) {
  .top nav {
    background-color: $site-background-color;

    a {
      color: $contrast-color;

      &.current-page {
        border: 1px solid $contrast-color;
      }
    }
  }
}