.highlight .c { color: #c2b680; background-color: #272822 } /* Comment */
.highlight .err { color: #dcdccc; background-color: #272822 } /* Error */
.highlight .g { color: #dcdccc; background-color: #272822 } /* Generic */
.highlight .k { color: #ff6651; font-weight: bold } /* Keyword */
.highlight .l { color: #dcdccc; background-color: #272822 } /* Literal */
.highlight .n { color: #dcdccc; background-color: #272822 } /* Name */
.highlight .o { color: #dcdccc; background-color: #272822 } /* Operator */
.highlight .x { color: #dcdccc; background-color: #272822 } /* Other */
.highlight .p { color: #dcdccc; background-color: #272822 } /* Punctuation */
.highlight .cm { color: #c2b680; background-color: #272822 } /* Comment.Multiline */
.highlight .cp { color: #c2aed0; background-color: #272822 } /* Comment.Preproc */
.highlight .c1 { color: #75715e; background-color: #272822 } /* Comment.Single */
.highlight .cs { color: #c2b680; background-color: #272822 } /* Comment.Special */
.highlight .gd { color: #dcdccc; background-color: #8b0000 } /* Generic.Deleted */
.highlight .ge { color: #d4b064; text-decoration: underline; background-color: #272822 } /* Generic.Emph */
.highlight .gr { color: #f07070; background-color: #272822 } /* Generic.Error */
.highlight .gh { color: #f7f7f1; font-weight: bold; background-color: #000000 } /* Generic.Heading */
.highlight .gi { color: #dcdccc; background-color: #008b00 } /* Generic.Inserted */
.highlight .go { color: #9f8f80; font-weight: bold; background-color: #272822 } /* Generic.Output */
.highlight .gp { color: #dcdccc; background-color: #272822 } /* Generic.Prompt */
.highlight .gs { color: #dcdccc; background-color: #272822 } /* Generic.Strong */
.highlight .gu { color: #f7f7f1; font-weight: bold; background-color: #000000 } /* Generic.Subheading */
.highlight .gt { color: #f07070; font-weight: bold; background-color: #272822 } /* Generic.Traceback */
.highlight .kc { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Constant */
.highlight .kd { color: #77d8eb; font-weight: bold; background-color: #272822 } /* Keyword.Declaration */
.highlight .kn { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Namespace */
.highlight .kp { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Pseudo */
.highlight .kr { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Reserved */
.highlight .kt { color: #dabfa5; font-weight: bold; background-color: #272822 } /* Keyword.Type */
.highlight .ld { color: #dcdccc; background-color: #272822 } /* Literal.Date */
.highlight .m { color: #dcdccc; background-color: #272822 } /* Literal.Number */
.highlight .s { color: #e6db6f } /* Literal.String */
.highlight .na { color: #b5df5e; } /* Name.Attribute */
.highlight .nb { color: #dcdccc; } /* Name.Builtin */
.highlight .nc { color: #dcdccc; background-color: #272822 } /* Name.Class */
.highlight .no { color: #afe091; background-color: #272822 } /* Name.Constant */
.highlight .nd { color: #dcdccc; background-color: #272822 } /* Name.Decorator */
.highlight .ni { color: #d4b064; background-color: #272822 } /* Name.Entity */
.highlight .ne { color: #dcdccc; background-color: #272822 } /* Name.Exception */
.highlight .nf { color: #dcdccc; background-color: #272822 } /* Name.Function */
.highlight .nl { color: #dcdccc; background-color: #272822 } /* Name.Label */
.highlight .nn { color: #dcdccc; background-color: #272822 } /* Name.Namespace */
.highlight .nx { color: #ff6651; background-color: #272822 } /* Name.Other */
.highlight .py { color: #dcdccc; background-color: #272822 } /* Name.Property */
.highlight .nt { color: #ff6651; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #ff6651; background-color: #272822 } /* Name.Variable */
.highlight .ow { color: #dcdccc; background-color: #272822 } /* Operator.Word */
.highlight .w { color: #dcdccc; background-color: #272822 } /* Text.Whitespace */
.highlight .mf { color: #c2a4f8; background-color: #272822 } /* Literal.Number.Float */
.highlight .mh { color: #dcdccc; background-color: #272822 } /* Literal.Number.Hex */
.highlight .mi { color: #c2a4f8; background-color: #272822 } /* Literal.Number.Integer */
.highlight .mo { color: #dcdccc; background-color: #272822 } /* Literal.Number.Oct */
.highlight .sb { color: #dcdccc; background-color: #272822 } /* Literal.String.Backtick */
.highlight .sc { color: #dcdccc; background-color: #272822 } /* Literal.String.Char */
.highlight .sd { color: #dcdccc; background-color: #272822 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db6f; background-color: #272822 } /* Literal.String.Double */
.highlight .se { color: #dcdccc; background-color: #272822 } /* Literal.String.Escape */
.highlight .sh { color: #dcdccc; background-color: #272822 } /* Literal.String.Heredoc */
.highlight .si { color: #dcdccc; background-color: #272822 } /* Literal.String.Interpol */
.highlight .sx { color: #dcdccc; background-color: #272822 } /* Literal.String.Other */
.highlight .sr { color: #e6db6f; background-color: #272822 } /* Literal.String.Regex */
.highlight .s1 { color: #dcdccc; background-color: #272822 } /* Literal.String.Single */
.highlight .ss { color: #e6db6f; background-color: #272822 } /* Literal.String.Symbol */
.highlight .bp { color: #dcdccc; background-color: #272822 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #dabfa5; background-color: #272822 } /* Name.Variable.Class */
.highlight .vg { color: #dabfa5; background-color: #272822 } /* Name.Variable.Global */
.highlight .vi { color: #dabfa5; background-color: #272822 } /* Name.Variable.Instance */
.highlight .il { color: #dcdccc; background-color: #272822 } /* Literal.Number.Integer.Long */
