/* ====== General Styles
============================================================================= */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #555;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;

  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol,
.fluid-width-video-wrapper,
.highlight,
blockquote,
img {
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 40px;
}

blockquote {
  -webkit-transition: all, 0.3s;
     -moz-transition: all, 0.3s;
      -ms-transition: all, 0.3s;
       -o-transition: all, 0.3s;
          transition: all, 0.3s;

  color: #f5f5f5;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 15px 60px;
  background-color: #555;
}

blockquote:hover:before { color: #b8cec7; }
blockquote:before { left: -3px; }
blockquote:after { right: -2px; }
blockquote:before,
blockquote:after {
  content: "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^";
  font-size: 24px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  line-height: 0.4em;
  word-break: break-all;
  color: #f5f5f5;
  display: block;
  width: 7px !important;
  white-space: normal;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover,
a:active {
  color: #222;
}

.container {
  max-width: 1024px;
  padding: 0 40px;
}

/* ====== Header
============================================================================= */

#blog-logo {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url(/public/images/logo.png) no-repeat;
  background-size: 100px 100px;
}

.top {
  margin-bottom: 40px;
  margin-top: 50px;
  height: 100px;
}

.top nav {
  border-bottom: 1px solid #999;
  height: 35px;
  margin-top: 65px;
}

.top nav a {
  color: #999;
  display: inline-block;
  padding: 0 50px 6px 0;
  margin-right: 5px;
  text-transform: uppercase;
}

.top nav a:hover {
  color: #333;
  border-bottom: 5px solid #333;
}

a.current-page {
  border-bottom: 5px solid #999;
}

/* ====== Main Content
============================================================================= */

#posts,
.single-post {
  margin-bottom: 100px;
}

.single-post {
  font-size: 1.1rem;
}

.single-post .published {
  color: #999;
  font-size: .9rem;
}

.listing {
  margin-bottom: 5px;
}

.archive-date { font-size: .9rem; }

.meta {
  font-size: .8rem;
  text-align: right;
  padding-top: 3px;
}

/* ====== Footer
============================================================================= */
.pagination {
  text-align: center;
  margin-bottom: 30px;
}

.previous,
.next {
  font-size: 1.5rem;
}

footer {
  font-size: .75rem;
  text-align: center;
}

/* ====== Responsive Shit
============================================================================= */

@media ( max-width : 768px ) {
  #logo,
  #posts,
  .meta {
    text-align: center;
  }

  .top {
    height: 240px;
    margin-bottom: 0;
  }

    .top nav {
      margin-top: 40px;
    }

  article {
    margin-bottom: 20px;
  }
}

@media ( max-width : 405px ) {
  .top nav a { padding-right: 10px; }
}