<!-- Pagination links -->
<div class="pagination row gutters">
  <div class="col span_2">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="previous" rel="prev"><i class="fa fa-arrow-circle-left"></i></a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}"
         class="previous" rel="prev"><i class="fa fa-arrow-circle-left"></i></a>
    {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}"
         class="next" rel="next"><i class="fa fa-arrow-circle-right"></i></a>
    {% endif %}
  </div>
</div>