<!DOCTYPE html>
<html>
  <head>
    <!-- meta information -->
    <meta charset="utf-8">
    <meta name="description" {% if page.title == "Home" %}
          content="{{ site.description }}" {% else %}
          content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}>
    <meta name="author" content="{{ site.author }}">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- title -->
    <title>{{ page.title }} &middot; {{ site.name }}</title>

    <!-- icons -->
    <link rel="shortcut icon" href="/public/images/favicon.ico" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="/public/css/syntax.css">
    <link rel="stylesheet" href="/public/css/responsive.gs.12col.css">
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext' rel='stylesheet' type='text/css'>

    <!-- font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- feed links -->
    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/rss+xml" title="{{ site.name }}">
  </head>
  <body>
    <div class="container">
      <header class="top row gutters">
        <div class="col span_2" id="logo">
          <a href="/" id="blog-logo" title="{{ site.title }}"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/public/js/jquery.fitvids.min.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
