---
layout: default
---

<article class="single row gutters">
	<div align='center'>
  <table><tr><td>
  <h2>S. Ramakrishna Vedantam</h2><td> </td><td></td></td><td><a href='http://lnkd.in/d5EGuK4'><img src='public/images/57x57/linkedin.png' width='30'></a></td><td><a href='contact/'><img src='public/images/57x57/skype.png' width='30'></a></td><td><a href='https://www.facebook.com/ramakrishna928'><img src='public/images/57x57/facebook.png' width='30'></a></td><td><a href='https://plus.google.com/+RamakrishnaVedantam/posts'><img src='public/images/57x57/googleplus.png' width='30'></a></td></tr>
</table>
Email : vrama91_at_vt_dot_edu
</div>
  {{ content }}
</article>
