---
layout: default
---

<article class="single row gutters">
  <h3>Ramakrishna Vedantam, M.S. Student</h3>
  <a href='mailto:vrama91@vt.edu'><img src='public/images/57x57/email-blue.png' width='30'></a>&nbsp;<a href=''><img src='public/images/57x57/linkedin.png' width='30'></a>&nbsp;<a href=''><img src='public/images/57x57/skype.png' width='30'></a>&nbsp;<a href=''><img src='public/images/57x57/facebook.png' width='30'></a>&nbsp;<a href=''><img src='public/images/57x57/googleplus.png' width='30'></a>

  {{ content }}
</article>
